<a href="https://colab.research.google.com/github/ashishkumar30/Machine-Learning/blob/master/NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
ds= pd.read_csv('Desktop/iris.csv')
ds.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [0]:
tar=ds['species']
ds['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [0]:
c=0
target=[]
for i in tar:
    if i=='Iris-setosa': 
        target.append(0)
    elif i=='Iris-versicolor': 
        target.append(1)
    else: target.append(2)
    c=+1

print(target)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [0]:
features=ds.drop(['species'],axis=1)
features.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [0]:
from sklearn.naive_bayes import MultinomialNB,GaussianNB
from sklearn.model_selection import train_test_split

In [0]:
mul = MultinomialNB()
gaus = GaussianNB()

In [0]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [0]:
mul.fit(x_train,y_train)

C:\Users\Genius\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:465: RuntimeWarning: divide by zero encountered in log
  self.class_log_prior_ = (np.log(self.class_count_) -

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [0]:
predict_mul=mul.predict(x_test)

In [0]:
gaus.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
predict_gaus=gaus.predict(x_test)

In [0]:
from sklearn.metrics import classification_report,confusion_matrix

In [0]:
print(classification_report(y_test,predict_mul))

              precision    recall  f1-score   support

           2       1.00      1.00      1.00        30

   micro avg       1.00      1.00      1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [0]:
print(confusion_matrix(y_test,predict_mul))

[[30]]

In [0]:
print(classification_report(y_test,predict_gaus))

              precision    recall  f1-score   support

           2       1.00      1.00      1.00        30

   micro avg       1.00      1.00      1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [0]:
print(confusion_matrix(y_test,predict_gaus))

[[30]]